{% extends "base.html" %}

{% block title %}Title for index!{% endblock title %}

{% block content %}
    <h1>Hello, world!</h1>
    <div class="container">
        <div class="row">
        <div class="col-sm col-md-6 col-lg-4 color">
            One of three columns
        </div>
        <div class="col-sm col-md-6 col-lg-4 color">
            One of three columns
        </div>
        <div class="col-sm col-md col-lg-4 color">
            One of three columns
            <img src="static/img/skull-avatar.png" class="img-fluid">
        </div>
        </div>
    </div>

    <button class="btn btn-default">Default</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>

    <p>{{some_text}}</p>
    <p>Current year: {{current_year}}</p>

    <ul>
    {% for city in cities %}
        <li>{{city}}</li>
    {% endfor %}
    </ul>

    {% if countries %}
        <p>The countries variable exists.</p>
    {% else %}
        <p>There are no countries :(</p>
    {% endif %}

{% endblock content %}